@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Poiret+One|Shadows+Into+Light");
.slider {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

section {
  scroll-snap-align: start;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section h2 {
  font-family: "Poiret One", cursive;
  font-size: 38px;
  color: white;
}
section p {
  color: white;
}
section:nth-child(1) {
  background: #09243a;
}
section:nth-child(2) {
  background: #004E68;
}
section:nth-child(3) {
  background: #007D83;
}
section:nth-child(4) {
  background: #0CAB87;
}